body{
    background-color: lightgreen;
   
  
}
hr{
    width: 20%;
    }

h1{
    font: size 10px;
font-family:  'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: red
}

.border{
    border: 5px solid rgb(109, 219, 18) ;
    width: 50%;
}

li{
    color: red
}

img{
    width: 10%;
}